#table{
    border: 1px solid black;
    margin-bottom: 30px;
}
#table th{
    border: 1px solid black;
    background-color: coral;
}
#table td{
    border: 1px solid black;
    background-color: hotpink;
}